
.testiamonal{
    padding: auto;
    background: var(--brand-turquoise-100, #D5FAFC);
}
.tirnak{
    opacity: 0.3;
}
.testimoinial1{
    width: 445px;
    height: 340px;
    margin-top: 0px;
    margin-left: 500px;
    display:inline-flex  ;
    padding: 32px;
    flex-direction: column;
    align-items: baseline;
    gap: 32px;
}
.testimoinial1{
    border-radius: 8px;
    background: var(--default-white, #FFF);

    /* Dark Shadow */
    box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
}
.content{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.tirnak2{
    opacity: 0.3;
}
.content-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.content-details p {
    width: 349px;
}
.content-details p {
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
.person-details{
    display: flex;
    width: 111px;
    flex-direction: column;
    align-items: flex-start;
}
.person-details p {
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    /* Subtitle / Subtitle 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
.jobs p{
    width: 82px;
    height: 24px;
    color: var(--text-gray-700, #969BAB);
    font-feature-settings: 'salt' on, 'liga' off; /* Lead / Lead 2 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.testiamonal2{
    width: 350px;
    height: 276px;
    margin-top: 64px;
    margin-left: 500px;
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.testiamonal2{
    background: var(--default-white, #FFF);  
    /* Dark Shadow */
    box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
}
.content2{
    width: 286px;
    height: 140px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.img{
    opacity: 30%;
}
.feedback{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.feedback-text{
    width: 254px;
}
.feedback-text{
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
.person-details2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.person-details2{
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Subtitle / Subtitle 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
.job2{
    color: var(--text-gray-700, #969BAB);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Lead / Lead 2 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.testiamonal3{
  
    width: 350px;
    height: 468px;
    margin-top: 0px;
    margin-left: -940px;
    border-radius: 8px;
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: normal;
    gap: 32px;
}
.testiamonal3{
    border-radius: 8px;
    background: var(--default-white, #FFF);

    /* Dark Shadow */
    box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
}
.content3{
    width: 286px;
    height: 332px;
    display: flex;
    align-items: flex-start;
    gap: 16px;

}
.feedback3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.feedback3 p{
    width: 254px;
}
.feedback3 p{
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
.persons3 p{
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Subtitle / Subtitle 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
.jobs3 p{
    color: var(--text-gray-700, #969BAB);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Lead / Lead 2 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.section-heading{
    width: 445px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.section-heading h2{
    width: 445px;
    height: 128px;
   
}
.section-heading h2{
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    /* Heading / H2 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
   
}
.description{
    width: 445px;
    height: 32px;
    align-self: stretch;
}
.description{
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
     /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}